[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/xapp-starter"]
	path = lib/xapp-starter
	url = https://github.com/connext/xapp-starter
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.1
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = v1.0.0
[submodule "lib/monorepo"]
	path = lib/monorepo
	url = https://github.com/connext/monorepo
	branch = v0.2.6
